/* Set main colors*/
:root {
    --primary-color: #5f9ea0;
    --secondary-color: #ed7e60;
    --tertiary-color: #95bebf;
}

body {
    font-family: 'Prompt', sans-serif;
}

/* Style headers */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    background-color: var(--tertiary-color);
    margin-bottom: 5px;
}

h1, h3, h4 {
    font-weight: bold;
}

h3 {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

h4 {
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    padding: 2px;
    font-size: 16px;
}

.btn:hover {
    opacity: 80%;
    border: 1px solid;
}

/* Hide second column */
.hidden {
    display: none;
}

.column {
    margin: 5px;
}

.search-container {
    height: 180px;
}

/* Style elements in search container */
.d-grid {
    margin-top: 30px;
}

.search-btn, .searched-btn {
    background-color: var(--secondary-color);
}

/* Style search history container elements */
.clear-btn {
    background-color: var(--tertiary-color);
}

.saved-container {
    min-height: 400px;
}

/* Style and size containers */
.col-left, .current-forecast, .card {
    background-color: var(--primary-color);
}

/* Style elements in current container */
.current-forecast {
    min-height: 230px;
    margin-bottom: 10px;
}

.current-left {
    padding-left: 20px;
}

.current-right {
    margin-top: 0px;
    margin-top: 10px;
}

/* Style elements in future container */
.future-forecast {
    height: 400px;
}

.card {
    margin: 5px;
    background-color: var(--primary-color);
    border: 7px solid var(--tertiary-color);
    border-radius: 20px;
}

.weather-icon {
    height: 100px;
    width: 100px;
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
    .main {
      display: flex;
      flex-direction: column;
    }
    .col-left {
        width: 100%;
    }
  }